* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.tudo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  min-height: 100vh;
  padding: 20px;
 padding-right: 600px;
}

.esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 165px;
  height: 48px;
  margin-bottom: 20px;
}

input {
  width: 250px;
  height: 33px;
  border-radius: 24px;
  border: 1px solid #EA6A12;
  padding: 8px 16px;
  background: #FFFFFF;
  margin-bottom: 10px;
}

.filaone,
.filatwo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.asfilas {
  display: flex;
  align-items: center;
}

button {
  width: 148px;
  height: 44px;
  border-radius: 44px;
  border: none;
  padding: 8px 24px;
  background: #EA6A12;
  color: white;
  cursor: pointer;
  margin: 10px 0;
}

.k {
  margin: 10px 0;
}

.click {
  color: rgb(240, 142, 72);
}

.ata {
  max-width: 44px;
  max-height: 44px;
  margin-right: 10px;
}

.at {
  display: flex;
  align-items: center;
}

.circula {
  position: absolute;
  top: -200px;
  right: -100px;
  width: 825px;
  height: 825px;
}

.circulo {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #FFF3EBA3;
  overflow: hidden;
}

/* Primeira imagem dentro do círculo */
.ka {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: auto;
}

.kl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 200px;
  max-height: 200px;
  bottom: -50px;
}

.i {
  display: flex;
  align-items: center;
  color: #959895;
  justify-content: center;
}

.dadfh {
  margin: 10px;
  width: 20px;
}

.taxar {
  color: #959895;
}

h1 {
  color: #07143B;
}


@media screen and (max-width: 1500px) {
  .tudo {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: 20px; 
  }
  .esquerda {
    margin: 0;
    margin-top: 240px; /* Garante que o conteúdo fique abaixo da área circular */
    width: 90%;
  }
  .circula {
    top: 20px;
    right: 20px;
    width: 300px;
    height: 300px;
  }
  .circula .circulo {
    overflow: visible;
  }
  .ka {
    bottom: 0;
  }
  input {
    width: 90%;
  }
  button {
    max-width: 188px;
    
    border-radius: 44px;
    border-width: 1px;
    padding-top: 8px;
    padding-right: 24px;
    padding-bottom: 8px;
    padding-left: 24px;
    
  }

  .kl {
    max-width: 140px;
    max-height: 140px;
  }
}

@media screen and (max-width: 1100px) { 
  .kl {
    max-width: 100px;
    max-height: 100px;
  }
  .circula {
 
    width: 200px;
    height: 200px;
  }
}